<article class="person-profile">
  <div class="person-image{% if include.person.alt_image %} has-alt-image{% endif %}">
    <img src="{{ '/assets/img/' | append: include.person.image | relative_url }}" alt="{{ include.person.name }}" class="img-fluid main-image">
    {% if include.person.alt_image %}
      <img
        src="{{ '/assets/img/' | append: include.person.alt_image | relative_url }}"
        alt="{{ include.person.name }} (alternate)"
        class="img-fluid alt-image"
      >
    {% endif %}
  </div>
  <div class="person-info">
    <h3>{{ include.person.name }}</h3>
    <div class="person-title">{{ include.person.title }}</div>
    {% if include.person.website %}
      <div class="person-website">
        <a href="{{ include.person.website }}" target="_blank" rel="noopener noreferrer">Personal Website</a>
      </div>
    {% endif %}
    {% if include.person.description != '' %}
      {% if include.principal_investigator %}
        <address class="person-description">
          {{ include.person.description }}
        </address>
      {% else %}
        <div class="person-description">
          {{ include.person.description }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</article>
